# -> Description :
``Project Nouveau Batiment = 1``
``Project Renovation Batiment = 2``

# -> Type : 
``Commercial = 1``
``Residential = 2 ``
``Industrial = 3 ``

# -> Location : 
``kazan = 1 ``
``Saint-peterburg = 2``
``Mowcow = 3``
``Ekaterinburg = 4``
``Tambov = 5``

# -> Foundation :
``Basement = 1``
``Slab = 2``
``Crawlspace =3``

# -> Framing :
``Wood = 1 ``
``Steel = 2 ``
``Concrete = 3``

# -> Exterior_Finish :
``Stucco = 1 ``
``Siding = 2``
``Brick = 3``

# -> Roofing :
``Metal = 1``
``Tiles = 2``
``Shingles = 3``

# -> HVAC
``Système centralisé gaz = 1``
``Système centralisé electrique = 2``

# -> Plumbing
``PEX_Pipe = 1``,
``PVC_Pipe = 2``,
``Rigid_Copper_Pipe = 3``,
``ABS_Pipe = 4``,
``Flexi_Pipe = 5``,
``Braided_Pipe = 6``

# -> Fire_Protection
``false = 0``
``true = 1``

Here we try to generate a fake dataset with a usefull information that we need for to estimate to cost in a project construction

In [2]:
import pandas as pd
import random

# Liste des types de projet
project_types = ['Residential', 'Commercial', 'Industrial']

# Liste des états américains abrégés
states = ['kazan', 'Saint-peterburg', 'Moscow', 'Ekaterinburg', 'Tambov']

# Création d'un dataframe vide
df = pd.DataFrame(columns=[
    "Project_ID", "Description", "Type", "Location", "Site_Conditions",
    "Square_Footage", "Floors", "Units", "Foundation", "Framing",
    "Exterior_Finish", "Roofing", "HVAC", "Plumbing", "Electrical",
    "Fire_Protection", "Permitting_Fees"
])

# Génération de 10 lignes de données aléatoires
for i in range(1000):
    df.loc[len(df)] = {
        "Project_ID": i + 1,
        "Description": random.randint(1, 2),
        "Type": random.randint(1, 3),
        "Location": random.randint(1, 5),
        "Site_Conditions": random.randint(1, 10),
        "Square_Footage": round(random.uniform(1000, 100000)),
        "Floors": random.randint(1, 15),
        "Units": random.randint(1, 100),
        "Foundation": random.randint(1, 3),
        "Framing": random.randint(1, 3),
        "Exterior_Finish": random.randint(1, 3),
        "Roofing": random.randint(1, 3),
        "HVAC": random.randint(1, 2),
        "Plumbing": random.randint(1, 6),
        "Electrical": round(random.uniform(100, 1000)),
        "Fire_Protection": random.randint(0, 1),
        "Permitting_Fees": round(random.uniform(100, 5000), 2)
    }

# Afficher le contenu du dataframe
print(df)

# Enregistrement sous forme de fichier CSV
df.to_csv("construction_costs.csv", index=False)

     Project_ID  Description  Type  Location  Site_Conditions  Square_Footage  \
0             1            1     1         4                6           26777
1             2            2     3         1                3           61693
2             3            1     1         2                9            4788
3             4            2     2         5                1           77463
4             5            2     2         1                8           42434
..          ...          ...   ...       ...              ...             ...
995         996            2     3         2               10           57810
996         997            1     3         5                2           76198
997         998            1     3         2                1           91681
998         999            1     1         5                9           30078
999        1000            2     2         4                9           18891

     Floors  Units  Foundation  Framing  Exterior_Finish  Roofing  HVAC  \
0        15     60           1        1                3        1     2
1         1     85           2        1                1        3     1
2         9     73           1        3                3        2     2
3        10      7           2        1                1        1     2
4        10     69           1        3                1        2     1
..      ...    ...         ...      ...              ...      ...   ...
995       1      9           3        2                3        2     2
996       2     24           3        1                1        3     2
997      11     45           2        2                1        3     1
998      14     45           2        3                2        1     2
999       7    100           3        1                1        1     2

     Plumbing  Electrical  Fire_Protection  Permitting_Fees
0           6         131                1          2976.63
1           2         102                0          2845.31
2           6         775                0           900.08
3           1         774                0           936.40
4           2         876                1          3122.83
..        ...         ...              ...              ...
995         4         240                0          3060.41
996         4         364                1          2705.59
997         1         667                1          3032.16
998         3         507                1          3930.44
999         6         884                0          3229.19

[1000 rows x 17 columns]

In [3]:
import pandas as pd

dataCons = pd.read_csv('construction_costs.csv');
dataCons.describe()

,Project_ID,Description,Type,Location,Site_Conditions,Square_Footage,Floors,Units,Foundation,Framing,Exterior_Finish,Roofing,HVAC,Plumbing,Electrical,Fire_Protection,Permitting_Fees
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,500.500000,1.484000,2.058000,2.967000,5.405000,51758.66700,8.098000,51.444000,1.93300,2.008000,2.006000,1.983000,1.503000,3.583000,538.810000,0.52700,2489.293230
std,288.819436,0.499994,0.824206,1.379062,2.846591,28481.47502,4.312887,28.098548,0.81681,0.810304,0.802875,0.818157,0.500241,1.763582,257.479979,0.49952,1373.082555
min,1.000000,1.000000,1.000000,1.000000,1.000000,1115.00000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,101.000000,0.00000,104.580000
25%,250.750000,1.000000,1.000000,2.000000,3.000000,26915.75000,5.000000,28.000000,1.00000,1.000000,1.000000,1.000000,1.000000,2.000000,309.000000,0.00000,1282.672500
50%,500.500000,1.000000,2.000000,3.000000,5.000000,52772.50000,8.000000,51.000000,2.00000,2.000000,2.000000,2.000000,2.000000,3.000000,541.500000,1.00000,2452.295000
75%,750.250000,2.000000,3.000000,4.000000,8.000000,76401.50000,12.000000,76.000000,3.00000,3.000000,3.000000,3.000000,2.000000,5.000000,766.750000,1.00000,3680.815000
max,1000.000000,2.000000,3.000000,5.000000,10.000000,99966.00000,15.000000,100.000000,3.00000,3.000000,3.000000,3.000000,2.000000,6.000000,997.000000,1.00000,4982.640000

In [4]:
dataCons.loc[dataCons.loc[:,'Units'] < 2]

,Project_ID,Description,Type,Location,Site_Conditions,Square_Footage,Floors,Units,Foundation,Framing,Exterior_Finish,Roofing,HVAC,Plumbing,Electrical,Fire_Protection,Permitting_Fees
137,138,2,2,3,10,35538,10,1,1,2,1,1,2,1,253,0,2895.26
408,409,1,1,2,6,30596,10,1,2,3,2,2,2,4,526,1,4664.45
489,490,2,2,3,8,56639,14,1,3,2,3,3,1,2,287,1,1384.58
718,719,2,1,3,5,59222,1,1,1,1,2,3,2,6,902,0,1222.76
824,825,2,2,2,7,47985,11,1,2,1,3,1,2,4,331,0,3801.47
842,843,2,2,4,3,73175,9,1,2,3,1,2,1,3,697,0,2068.29
923,924,1,2,5,2,71693,5,1,3,2,3,2,2,5,360,1,712.93

Here we try to add a col for cost estimation with some parameters in the dataset

In [5]:
# Ajout de la série 'cost_estimation'
dataCons['cost_estimation'] = (
    dataCons['Floors'] * 3000 + df['Units'] * 1000 +
    dataCons['Site_Conditions'].apply(lambda x: 8000 if x >  5 else 5000 if x < 0 else 0) +
    dataCons['Foundation'].apply(lambda x: 2000 if x == 'Slab' else 4000 if x == 'Crawlspace' else 2500 if x == 'Basement' else 0) +
    dataCons['Framing'].apply(lambda x: 4000 if x == 'Wood' else 3000 if x == 'Steel' else 3200 if x == 'Concrete' else 0) +
    dataCons['Exterior_Finish'].apply(lambda x: 3500 if x == 'Brick' else 2500 if x == 'Stucco' else 2500 if x == 'Siding' else 0) +
    dataCons['Roofing'].apply(lambda x: 4500 if x == 'Shingles' else 2500 if x == 'Tiles' else 3000 if x == 'Metal' else 0) +
    dataCons['HVAC'].apply(lambda x: 13500 if x ==
                           'gaz' else 8500 if x == 'electrique' else 0)
)

# Afficher le contenu du dataframe
print(dataCons)

# Enregistrement sous forme de fichier CSV
dataCons.to_csv("construction_costs.csv", index=False)

     Project_ID  Description  Type  Location  Site_Conditions  Square_Footage  \
0             1            1     1         4                6           26777
1             2            2     3         1                3           61693
2             3            1     1         2                9            4788
3             4            2     2         5                1           77463
4             5            2     2         1                8           42434
..          ...          ...   ...       ...              ...             ...
995         996            2     3         2               10           57810
996         997            1     3         5                2           76198
997         998            1     3         2                1           91681
998         999            1     1         5                9           30078
999        1000            2     2         4                9           18891

     Floors  Units  Foundation  Framing  Exterior_Finish  Roofing  HVAC  \
0        15     60           1        1                3        1     2
1         1     85           2        1                1        3     1
2         9     73           1        3                3        2     2
3        10      7           2        1                1        1     2
4        10     69           1        3                1        2     1
..      ...    ...         ...      ...              ...      ...   ...
995       1      9           3        2                3        2     2
996       2     24           3        1                1        3     2
997      11     45           2        2                1        3     1
998      14     45           2        3                2        1     2
999       7    100           3        1                1        1     2

     Plumbing  Electrical  Fire_Protection  Permitting_Fees  cost_estimation
0           6         131                1          2976.63           113000
1           2         102                0          2845.31            88000
2           6         775                0           900.08           108000
3           1         774                0           936.40            37000
4           2         876                1          3122.83           107000
..        ...         ...              ...              ...              ...
995         4         240                0          3060.41            20000
996         4         364                1          2705.59            30000
997         1         667                1          3032.16            78000
998         3         507                1          3930.44            95000
999         6         884                0          3229.19           129000

[1000 rows x 18 columns]

In [6]:
dataCons

,Project_ID,Description,Type,Location,Site_Conditions,Square_Footage,Floors,Units,Foundation,Framing,Exterior_Finish,Roofing,HVAC,Plumbing,Electrical,Fire_Protection,Permitting_Fees,cost_estimation
0,1,1,1,4,6,26777,15,60,1,1,3,1,2,6,131,1,2976.63,113000
1,2,2,3,1,3,61693,1,85,2,1,1,3,1,2,102,0,2845.31,88000
2,3,1,1,2,9,4788,9,73,1,3,3,2,2,6,775,0,900.08,108000
3,4,2,2,5,1,77463,10,7,2,1,1,1,2,1,774,0,936.40,37000
4,5,2,2,1,8,42434,10,69,1,3,1,2,1,2,876,1,3122.83,107000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2,3,2,10,57810,1,9,3,2,3,2,2,4,240,0,3060.41,20000
996,997,1,3,5,2,76198,2,24,3,1,1,3,2,4,364,1,2705.59,30000
997,998,1,3,2,1,91681,11,45,2,2,1,3,1,1,667,1,3032.16,78000
998,999,1,1,5,9,30078,14,45,2,3,2,1,2,3,507,1,3930.44,95000
999,1000,2,2,4,9,18891,7,100,3,1,1,1,2,6,884,0,3229.19,129000

Here we separate the data in features and result

In [7]:
X = dataCons[['Description', 'Type', 'Location', 'Site_Conditions', 'Square_Footage', 'Floors', 'Units', 'Foundation', 'Framing', 'Exterior_Finish', 'Roofing', 'HVAC', 'Plumbing', 'Electrical', 'Fire_Protection', 'Permitting_Fees']]
y = dataCons['cost_estimation']

In [8]:
X

,Description,Type,Location,Site_Conditions,Square_Footage,Floors,Units,Foundation,Framing,Exterior_Finish,Roofing,HVAC,Plumbing,Electrical,Fire_Protection,Permitting_Fees
0,1,1,4,6,26777,15,60,1,1,3,1,2,6,131,1,2976.63
1,2,3,1,3,61693,1,85,2,1,1,3,1,2,102,0,2845.31
2,1,1,2,9,4788,9,73,1,3,3,2,2,6,775,0,900.08
3,2,2,5,1,77463,10,7,2,1,1,1,2,1,774,0,936.40
4,2,2,1,8,42434,10,69,1,3,1,2,1,2,876,1,3122.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,3,2,10,57810,1,9,3,2,3,2,2,4,240,0,3060.41
996,1,3,5,2,76198,2,24,3,1,1,3,2,4,364,1,2705.59
997,1,3,2,1,91681,11,45,2,2,1,3,1,1,667,1,3032.16
998,1,1,5,9,30078,14,45,2,3,2,1,2,3,507,1,3930.44
999,2,2,4,9,18891,7,100,3,1,1,1,2,6,884,0,3229.19

Here we apply a lenear regression model on the dataset

In [12]:
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

here we put same data to test the model

In [13]:
new_input = np.array([[1, 3, 1,7,50000,10,34,2,2,1,2,1,1,3,1,10000]])  # New input values
cost_estimation = regressor.predict(new_input)
print("Predicted Cost:", cost_estimation)

Predicted Cost: [70982.63907583]

/Users/fuhetienne/anaconda3/lib/python3.10/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [14]:
k1 = regressor.intercept_
print("Intercept (k1):", k1)

Intercept (k1): -2114.139477907491

In [15]:
r2_score = regressor.score(X_test, y_test)
print("R² Score:", r2_score)

R² Score: 0.9958757932041882

In [16]:
print(y_test )

521     20000
737     15000
740    108000
660    114000
411    104000
        ...
109     33000
430    112000
77     137000
84      77000
286    121000
Name: cost_estimation, Length: 250, dtype: int64